<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proposal and Excel Creator</title>
    <style>
        .menu {
            margin: 20px;
        }
        .menu a {
            margin: 10px;
            text-decoration: none;
            padding: 10px;
            border: 1px solid black;
            background-color: lightgray;
        }
        .footer {
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>제안서/전시연출총괄표 생성기</h1>
    <div class="menu">
        <a href="/proposal">제안서 생성기</a>
        <a href="/excel">전시연출총괄표 생성기</a>
    </div>
</body>
</html>
